---
import type { LanguagesValue } from '../../util/languages';
import { SupportedLanguages, UnSupportedLanguages } from '../../util/languages';

import PrintLayout from '../../layouts/PrintLayout.astro';
import CopyButton from '../../components/design/CopyButton.astro';
import PreviewTranslation from '../../components/PreviewTranslation.astro';
import { useUiTranslation } from '../../util/use-ui-translation';
import Link from '../../components/design/Link.astro';

export interface InternalTranslateProps {
  params: {
    fromLang: LanguagesValue;
    toLang: LanguagesValue;
  };
}

export async function getStaticPaths(): Promise<InternalTranslateProps[]> {
  return SupportedLanguages.map((fromLang) =>
    [...SupportedLanguages, ...UnSupportedLanguages]
      .filter((toLang) => fromLang !== toLang)
      .map((toLang) => ({
        params: {
          fromLang,
          toLang,
        },
      })),
  ).flat();
}

const { fromLang, toLang } = Astro.params;
const allPaths = await getStaticPaths();
---

<PrintLayout
  lang={toLang}
  title={`INTERNAL TRANSLATION ${fromLang} => ${toLang}`}
>
  <h1>
    BBON Übersetzung {useUiTranslation(`languages.${fromLang}`, 'de')}
    =&gt; {useUiTranslation(`languages.${toLang}`, 'de')}
    {new Date().toLocaleDateString()}
  </h1>
  <h2>Anleitung zum Erstellen eines Übersetzungsdokuments:</h2>
  <ol>
    <li>Diese Seite in den gewünschten Sprachen öffnen</li>
    <li>Auf den Button "Text kopieren" klicken</li>
    <li>Office-Programm nit einem neue Text-Dokument öffnen</li>
    <li>
      Inhalt der Zwischenablage einfügen. Eventuell mit STRG + SHIFT + V.
      "Special Paste", mit Formatierung "HTML" wählen.
    </li>
    <li>Eventuell muss die Tabelle in der Breite korrigiert werden</li>
  </ol>

  <CopyButton>
    <PreviewTranslation
      fromLang={fromLang}
      toLang={toLang}
    />
  </CopyButton>

  <h2>Alle Sprachen</h2>
  <ul>
    {
      allPaths.map((path) => (
        <li>
          <Link
            href={`${Astro.site}internal-translate/${path.params.fromLang}-${path.params.toLang}`}
          >
            {useUiTranslation(`languages.${path.params.fromLang}`, 'de')}
            =&gt; {useUiTranslation(`languages.${path.params.toLang}`, 'de')}
          </Link>
        </li>
      ))
    }
  </ul>
</PrintLayout>
