---
import { getStaticPathsForFlyers } from '../../../util/get-static-paths';
import {
  SupportedLanguages,
  type LanguagesValue,
} from '../../../util/languages';
import { useUiTranslation } from '../../../util/use-ui-translation';
import OverviewLayout from '../../../layouts/OverviewLayout.astro';
import Stack from '../../../design/Stack.astro';
import CardLink from '../../../design/CardLink.astro';
import { getCanonicalUrlToFlyer } from '../../../util/get-canonical-url';
import MoreInfoStack from '../../../components/MoreInfoStack.astro';
import { getTranslationsUrlsForPath } from '../../../util/get-translations-url';
import LanguageSwitcher from '../../../design/LanguageSwitcher.astro';

interface Props {
  lang: LanguagesValue;
}

export async function getStaticPaths() {
  return Object.values(SupportedLanguages).map((lang) => {
    return {
      params: { lang },
      props: { lang },
    };
  });
}

const { lang } = Astro.props;

const allFlyers = await getStaticPathsForFlyers();

const translationSlugs = await getTranslationsUrlsForPath(lang, 'flyer');
---

<OverviewLayout
  lang={lang}
  title=`${await useUiTranslation('meta.title', lang)} | ${await useUiTranslation('meta.subtitle', lang)}`
  translationSlugs={translationSlugs}
>
  <LanguageSwitcher
    lang={lang}
    translationSlugs={translationSlugs}
  />
  <h2>{useUiTranslation('meta.allFlyers', lang)}:</h2>
  <Stack>
    {
      allFlyers
        .filter((flyer) => flyer.params.lang === lang)
        .map(async (flyer) => (
          <CardLink
            lang={lang}
            href={await getCanonicalUrlToFlyer(
              lang,
              flyer.props.entry.data.identifier,
            )}
          >
            {flyer.props.entry.data.title}
          </CardLink>
        ))
    }
  </Stack>

  <MoreInfoStack
    lang={lang}
    showKits={true}
  />
</OverviewLayout>
