---
import {
  SupportedLanguages,
  type LanguagesValue,
} from '../../../model/languages';
import { getCollection } from 'astro:content';
import { useUiTranslation } from '../../../util/use-ui-translation';
import { getTranslationsUrlsForPath } from '../../../util/get-translations-url';
import { getCanonicalUrlToFlyer } from '../../../util/get-canonical-url';

import OverviewLayout from '../../../layouts/OverviewLayout.astro';
import Stack from '../../../components/design/Stack.astro';
import CardLink from '../../../components/design/CardLink.astro';
import MoreInfoStack from '../../../components/MoreInfoStack.astro';
import LanguageSwitcher from '../../../components/design/LanguageSwitcher.astro';
import H2 from '../../../components/design/H2.astro';
import { mapStaticPathsForStandalone } from '../../../util/map-static-paths-for-standalone';

interface Props {
  lang: LanguagesValue;
}

export async function getStaticPaths() {
  return Object.values(SupportedLanguages).map((lang) => {
    return {
      params: { lang },
      props: { lang },
    };
  });
}

const { lang } = Astro.props;

const allFlyers = mapStaticPathsForStandalone(await getCollection('flyers'));

const translationSlugs = await getTranslationsUrlsForPath(lang, 'flyer');
---

<OverviewLayout
  lang={lang}
  title=`${await useUiTranslation('meta.title', lang)} | ${await useUiTranslation('meta.subtitle', lang)}`
  translationSlugs={translationSlugs}
>
  <LanguageSwitcher
    lang={lang}
    translationSlugs={translationSlugs}
  />
  <H2>{useUiTranslation('meta.allFlyers', lang)}:</H2>
  <Stack>
    {
      allFlyers
        .filter((flyer) => flyer.params.lang === lang)
        .map(async (flyer) => (
          <CardLink
            lang={lang}
            href={await getCanonicalUrlToFlyer(
              lang,
              flyer.props.entry.data.identifier,
            )}
          >
            {flyer.props.entry.data.title}
          </CardLink>
        ))
    }
  </Stack>

  <MoreInfoStack
    lang={lang}
    showKit={true}
  />
</OverviewLayout>
