---
import { type CollectionEntry } from 'astro:content';

import { getStaticPathsForFlyers } from '../../util/get-static-paths';
import PrintLayout from '../../layouts/PrintLayout.astro';
import MarkdownEntry from '../../design/MarkdownEntry.astro';
import Logo from '../../design/Logo.astro';
import PrinterPage from '../../design/PrinterPage.astro';
import Timestamp from '../../design/Timestamp.astro';
import Impress from '../../design/Impress.astro';
import { useUiTranslation } from '../../util/use-ui-translation';

interface Props {
  entry: CollectionEntry<'flyers'>;
}

export async function getStaticPaths() {
  return getStaticPathsForFlyers();
}

const { entry } = Astro.props;


---
<style>
  
  footer {
    display: flex;
    gap: 0.5cm;
    h3 {
      display: inline-block;
      font-variant: small-caps;
      margin: 0;
    } 

    p {
      margin-top: 1mm;
      display: inline-block;
    }

    .container {
      width: 9.5cm;
    }

  }

  aside {
    color: white;
    background: var(--color-primary);
    position: absolute;
    left: 0cm;
    top: 0;
    display: block;
    font-variant: small-caps;
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: 700;
  }

  hgroup {
    margin-top: 20vh;
    font-size: 18px;
    
    h1 {
      line-height: 1em;
    }
  }

</style>
<script>


</script>
<PrintLayout
  lang={entry.data.lang}
  title={'PDF ' + entry.data.title + ' | BringBackOurNeighbours'}
>
  <PrinterPage>
    <aside>{entry.data.lang}</aside>
    <hgroup>
      {entry.data.lang != 'de' && <h6>{entry.data.germanTitle}</h6>}
      <h1>{entry.data.title}</h1>
    </hgroup>
    
    <footer>
      <Logo size="11mm" />
      <div class="container">
        <h3 id="title">Bring Back Our Neighbours</h3>
        <p id="subtitle">{useUiTranslation('meta.subtitle', entry.data.lang)}</p>
      </div>
    </footer>

    
  </PrinterPage>
  <PrinterPage breakBefore={true}>
    <div>
    <MarkdownEntry rendered={entry.render()} />
  </div>
    <div class="endFooter">
    <p>bringbackourneighbours.de</p>

    <p>
      <Impress lang={entry.data.lang} />
    </p>
    <p>
      <Timestamp entry={entry} />
    </p>
    </div>
  </PrinterPage>
</PrintLayout>

<script>

var fitText = function (el: HTMLElement, factor: number) {

  var fit = function (el: HTMLElement) {

    var resizer = function () {
      var par = el.parentElement!!.getBoundingClientRect().width * 0.95
      var own = el.getBoundingClientRect().width
      el.style.fontSize = (par / own) / factor + 'cm';

      console.log("NEW")
    };

    // Call once to set.
    resizer();

    // Bind events
    window.addEventListener('resize', resizer, false);
    window.addEventListener('orientationchange', resizer, false);
  };


  fit(el);

  // return set of elements
  return el;
};
  fitText( document.getElementById("subtitle")!!, 3.05);
  fitText( document.getElementById("title")!!, 2.05);
</script>