---
import { type CollectionEntry } from 'astro:content';

import { getStaticPathsForFlyers } from '../../util/get-static-paths';
import { getTranslationsUrlsForFlyer } from '../../util/get-translations-url';
import { getCanonicalUrlToFlyer } from '../../util/get-canonical-url';

import Block from '../../components/Block.astro';
import PrintLayout from '../../layouts/PrintLayout.astro';
import PrinterPage from '../../design/PrinterPage.astro';
import PrintCover from '../../design/PrintCover.astro';
import PrintEndFooter from '../../design/PrintEndFooter.astro';

interface Props {
  entry: CollectionEntry<'flyers'>;
}

export async function getStaticPaths() {
  return getStaticPathsForFlyers();
}

const { entry } = Astro.props;

const translationSlugs = await getTranslationsUrlsForFlyer(
  entry.data.lang,
  entry.data.identifier,
);

// FIXME: this should be the SHORTURL and not the canonical
const canonicalUrl =
  (await getCanonicalUrlToFlyer(entry.data.lang, entry.data.identifier)) || '';

const isDev = import.meta.env.DEV;

// FIXME: for some unknown reason in build and in dev this is needs to differ
const footerposition = isDev ? '496mm' : '629mm';
---

<style define:vars={{ footerposition }}>
  @page {
    margin: 5mm;
    size: 105mm 148mm;
  }

  .end-footer {
    position: absolute;

    /*
    every flyer has 4 pages, so the footer needs to be somewhere on the bottom of page 4...
    calc would need to consider the page margins */
    inset-block-start: 0;
    margin-block-start: var(--footerposition);
  }
</style>
<PrintLayout
  lang={entry.data.lang}
  title={'PDF Flyer ' + entry.data.title + ' | BringBackOurNeighbours'}
>
  <PrinterPage>
    <PrintCover
      entry={entry}
      pagewidth="105mm"
    />
  </PrinterPage>
  <PrinterPage breakBefore={true}>
    <Block
      identifier={entry.data.identifier}
      collection="flyers"
    />
  </PrinterPage>
  <div class="end-footer">
    <PrintEndFooter
      entry={entry}
      translationSlugs={translationSlugs}
      canonicalUrl={canonicalUrl}
    />
  </div>
</PrintLayout>
