---
import { type CollectionEntry } from 'astro:content';

import Imprint from '../../design/Imprint.astro';
import Link from '../../design/Link.astro';
import Logo from '../../design/Logo.astro';
import MarkdownEntry from '../../design/MarkdownEntry.astro';
import PrintLayout from '../../layouts/PrintLayout.astro';
import PrinterPage from '../../design/PrinterPage.astro';
import QrImage from '../../design/QrImage.astro';
import Timestamp from '../../design/Timestamp.astro';
import { Languages } from '../../util/languages';
import { getCanonicalUrlToFlyer } from '../../util/get-canonical-url';
import { getStaticPathsForFlyers } from '../../util/get-static-paths';
import { getTranslationsUrlsForFlyer } from '../../util/get-translations-url';
import { useUiTranslation } from '../../util/use-ui-translation';

interface Props {
  entry: CollectionEntry<'flyers'>;
}

export async function getStaticPaths() {
  return getStaticPathsForFlyers();
}

const { entry } = Astro.props;

const translationSlugs = await getTranslationsUrlsForFlyer(
  entry.data.lang,
  entry.data.identifier,
);

// FIXME: this should be the SHORTURL and not the canonical
const canonicalUrl =
  (await getCanonicalUrlToFlyer(entry.data.lang, entry.data.identifier)) || '';

const isDev = import.meta.env.DEV;

// FIXME: for some unknown reason in build and in dev this is needs to differ
const footerposition = isDev ? '460mm' : '560mm';
---

<style define:vars={{ footerposition }}>
  @page {
    margin: 5mm;
    size: 105mm 148mm;
  }

  html {
    /* Good base size for printing */
    font-size: 10pt;
  }

  .h2,
  h2 {
    font-size: 1.5em;
  }

  .h3,
  h3 {
    font-size: 1em;
  }

  .cover-page {
    aside {
      color: white;
      background: var(--color-primary);
      position: absolute;
      inset-inline-start: 0;
      inset-block-start: 0;
      display: block;
      font-variant: small-caps;
      padding: 0.5em;
      font-size: 1.2em;
      font-weight: 700;
    }

    hgroup {
      margin-block-start: 20vh;
      font-size: 18px;

      h1 {
        line-height: 1em;
      }
    }

    footer {
      position: absolute;
      inset-block-end: 0;
      width: calc(105mm - 2 * 5mm);

      /* this is for the logo: it needs to be primary */
      --color-surface: var(--color-primary);

      .logo-line {
        display: flex;
        align-items: stretch;
        gap: 2mm;

        .titles {
          flex-grow: 1;
          margin-block-start: 2mm;

          .title {
            font-variant: small-caps;
            font-size: 16pt; /* with the flex-grow we need to have a good baseline  */
            margin: 0;
          }

          .sub-title {
            margin-block-start: 2mm;
            font-size: 2px; /* the text-fit will only make it grow  */
          }
        }
      }
    }
  }

  .end-footer {
    position: absolute;

    /*
    every flyer has 4 pages, so the footer needs to be somewhere on the bottom of page 4...
    calc would need to consider the page margins */
    inset-block-start: 0;
    margin-block-start: var(--footerposition);

    .qr-link {
      display: flex;
      align-items: center;
      gap: var(--vspace);

      .find-translation {
        display: flex;
        align-items: center;
        gap: var(--vspace);
        flex-direction: column;
      }
    }
  }
</style>
<PrintLayout
  lang={entry.data.lang}
  title={'PDF ' + entry.data.title + ' | BringBackOurNeighbours'}
>
  <PrinterPage>
    <div class="cover-page">
      <aside>
        {useUiTranslation(`languages.${entry.data.lang}`, entry.data.lang)}
        {
          entry.data.lang != 'de' && (
            <span>
              |
              {useUiTranslation(
                `languages.${entry.data.lang}`,
                Languages.GERMAN,
              )}
            </span>
          )
        }
      </aside>
      <hgroup>
        {entry.data.lang != 'de' && <h6>{entry.data.germanTitle}</h6>}
        <h1>{entry.data.title}</h1>
      </hgroup>
      <footer>
        <div class="logo-line">
          <Logo size="12mm" />
          <div class="titles">
            <h2 class="title text-fit">
              <span><span>Bring Back Our Neighbours</span></span>
              <span aria-hidden="true">Bring Back Our Neighbours</span>
            </h2>
            <p class="sub-title text-fit">
              <span
                ><span
                  >{useUiTranslation('meta.subtitle', entry.data.lang)}</span
                ></span
              >
              <span aria-hidden="true"
                >{useUiTranslation('meta.subtitle', entry.data.lang)}</span
              >
            </p>
          </div>
        </div>
      </footer>
    </div>
  </PrinterPage>
  <PrinterPage breakBefore={true}>
    <MarkdownEntry rendered={entry.render()} />
  </PrinterPage>
  <div class="end-footer">
    <div class="qr-link">
      <QrImage
        size="120"
        url={canonicalUrl}
      />
      <div class="find-translation">
        {
          translationSlugs.map((translationSlug) => (
            <Link href={translationSlug.url}>
              {useUiTranslation(
                `languages.findTranslation`,
                translationSlug.lang,
              )}
            </Link>
          ))
        }
      </div>
    </div>
    <p>
      {useUiTranslation(`meta.infosAgainstDeportation`, entry.data.lang)}
    </p>
    <p class="ltr">
      <Link href={`${Astro.site}`} />
    </p>
    <p>
      <Imprint lang={entry.data.lang} />
    </p>
    <p>
      <Timestamp entry={entry} />
    </p>
  </div>
</PrintLayout>
