---
import { type CollectionEntry } from 'astro:content';

import { getStaticPathsForFlyers } from '../../util/get-static-paths';
import PrintLayout from '../../layouts/PrintLayout.astro';
import MarkdownEntry from '../../design/MarkdownEntry.astro';
import Logo from '../../design/Logo.astro';
import PrinterPage from '../../design/PrinterPage.astro';
import Timestamp from '../../design/Timestamp.astro';
import { useUiTranslation } from '../../util/use-ui-translation';

interface Props {
  entry: CollectionEntry<'flyers'>;
}

export async function getStaticPaths() {
  return getStaticPathsForFlyers();
}

const { entry } = Astro.props;
---

<PrintLayout
  lang={entry.data.lang}
  title={'PDF ' + entry.data.title + ' | BringBackOurNeighbours'}
>
  <PrinterPage>
    <hgroup>
      <p>{entry.data.lang}</p>
      <p>{entry.data.germanTitle}</p>
      <h1>{entry.data.title}</h1>
    </hgroup>

    <strong>Bring Back Our Neighbours</strong>
    <Logo />
    <p>{useUiTranslation('meta.subtitle', entry.data.lang)}</p>
  </PrinterPage>
  <PrinterPage breakBefore={true}>
    <MarkdownEntry rendered={entry.render()} />

    <p>bringbackourneighbours.de</p>

    <p>
      <strong>{useUiTranslation('meta.impress', entry.data.lang)}</strong>
      <br />
      Kontaktgruppe Asyl und Abschiebehaft e.V.<br />
      Heinrich-Zille-Str. 6<br />
      01219 Dresden
    </p>
    <p>
      <Timestamp entry={entry} />
    </p>
  </PrinterPage>
</PrintLayout>
