---
import { type CollectionEntry, getCollection } from 'astro:content';

import { getStaticPathsForKits } from '../../util/get-static-paths-for-standalone';
import { getTranslationsUrlsForKit } from '../../util/get-translations-url';
import { getCanonicalUrlToKit } from '../../util/get-canonical-url';
import { useUiTranslation } from '../../util/use-ui-translation';
import { useContentData } from '../../util/use-content-data';
import { Languages } from '../../model/languages';

import PrintLayout from '../../layouts/PrintLayout.astro';
import PrinterPage from '../../components/design/PrinterPage.astro';
import PrintCover from '../../components/design/PrintCover.astro';
import PrintEndFooter from '../../components/design/PrintEndFooter.astro';
import Block from '../../components/markdown/Block.astro';
import TableOfContents from '../../components/design/TableOfContents.astro';

interface Props {
  entry: CollectionEntry<'kits'>;
}

export async function getStaticPaths() {
  return getStaticPathsForKits();
}

const { entry } = Astro.props;

const translationSlugs = await getTranslationsUrlsForKit(
  await getCollection('kits'),
  entry.data.lang,
  entry.data.identifier,
);

// FIXME: this should be the SHORTURL and not the canonical
const canonicalUrl =
  (await getCanonicalUrlToKit(entry.data.lang, entry.data.identifier)) || '';
const germanTitle =
  (await useContentData('kits', entry.data.identifier, Languages.GERMAN))
    ?.title || '';
---

<style>
  @page {
    size: a4;
    margin: 15mm;
  }

  .second-page {
    margin-block-start: 29cm;
  }

  .link {
    margin-block-end: 2em;
  }
</style>

<PrintLayout
  lang={entry.data.lang}
  title={'Kit ' + entry.data.title + ' | BringBackOurNeighbours'}
>
  <PrinterPage>
    <PrintCover
      germanTitle={germanTitle}
      entry={entry}
      pagewidth="210mm"
      pagemargin="15mm"
    />
  </PrinterPage>
  <PrinterPage breakBefore={true}>
    <div class="second-page">
      <div class="link">
        <PrintEndFooter
          entry={entry}
          translationSlugs={translationSlugs}
          canonicalUrl={canonicalUrl}
          qrSize={120}
        />
      </div>
      <Block identifier="kit-outro" />
      <h2>{useUiTranslation('meta.home', entry.data.lang)}</h2>
      <TableOfContents rendered={entry.render()} />
    </div>
  </PrinterPage>
  <PrinterPage breakBefore={true}>
    <Block
      identifier={entry.data.identifier}
      collection="kits"
      isRootLevelContent={true}
    />
  </PrinterPage>
</PrintLayout>
