---
import OverviewLayout from '../layouts/OverviewLayout.astro';
import CardLink from '../design/CardLink.astro';
import { useUiTranslation } from '../util/use-ui-translation';
import {
  getCanonicalUrlToFlyer,
  getCanonicalUrlToKit,
} from '../util/get-canonical-url';
import { Languages } from '../util/languages.enum';
import Stack from '../design/Stack.astro';

const allLanguages = Object.values(Languages); // FIXME: my IDE is not resolving this... why?
---

<OverviewLayout
  lang="de"
  title=`${await useUiTranslation('meta.title', 'de')} | ${await useUiTranslation('meta.subtitle', 'de')}`
>
  <Stack>
    {
      allLanguages.map(async (lang) => (
        <CardLink
          href={`${Astro.site}${lang}`}
          lang={lang}
        >
          {useUiTranslation('wizard.isThereDangerQuestion', lang)}
        </CardLink>
      ))
    }
  </Stack>

  <h2>{useUiTranslation('meta.moreInfo', 'de')}:</h2>

  <Stack>
    {
      getCanonicalUrlToFlyer('de', 'detention').then((href) => (
        <CardLink
          lang="de"
          href={href}
        >
          Alle unsere Flyer
        </CardLink>
      ))
    }

    {
      getCanonicalUrlToKit('de', 'affected').then((href) => (
        <CardLink
          lang="de"
          href={href}
        >
          Alle unsere Notfallkoffer
        </CardLink>
      ))
    }
  </Stack>
</OverviewLayout>
