---
import Link from '../design/Link.astro';
import { useUiTranslation } from '../util/use-ui-translation';
import OverviewLayout from '../layouts/OverviewLayout.astro';
import Address from '../components/Address.astro';
import ExternalShortLink from '../components/ExternalShortLink.astro';
import QrImage from '../design/QrImage.astro';
import { DEFAULT_LANG, Languages } from '../util/languages';
import CardButton from '../design/CardButton.astro';
import Popover from '../design/Popover.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Showcase</title>
  </head>
  <OverviewLayout
    title="Design Showcase"
    lang={Languages.ENGLISH}
  >
    <h1>Showcase</h1>
    This page is for testing new feature... it will be removed when we are going
    live

    <h2>elements</h2>

    <CardButton>CardButton</CardButton>
    <Popover>
      <span slot="button"> Click me pop </span>
      <div>
        <CardButton>CardButton</CardButton>
        <p>... some random content</p>
        <ul>
          <li>
            <Link href={`${Astro.site}link/flyer-de-detention`} />
          </li>
          <li>
            <Link href={`${Astro.site}link/flyer-en-detention`} />
          </li>
          <li>
            <Link href={`${Astro.site}link/kit-de-affected`} />
          </li>
          <li>
            <Link href={`${Astro.site}link/kit-ar-affected`} />
          </li>
        </ul>
      </div>
    </Popover>

    <h2>QrCodes</h2>

    <QrImage
      url="https://www.npmjs.com/package/qrcode#todataurltext-options-cberror-url-1"
    />

    <h2>Addresses</h2>
    <Address identifier="test" />
    <Address
      identifier="test"
      showBbon={true}
    />
    <Address
      identifier="chronik_le"
      lang="de"
    />
    <Address
      identifier="chronik_le"
      lang={Languages.ENGLISH}
    />
    <h2>UI translation</h2>
    <p>
      useUiTranslation('meta.subtitle', 'de') == {
        useUiTranslation('meta.subtitle', Languages.GERMAN)
      }
    </p>
    <p>
      useUiTranslation('meta.subtitle', 'en') == {
        useUiTranslation('meta.subtitle', Languages.ENGLISH)
      }
    </p>
    <p>
      useUiTranslation('meta.subtitle', 'es') == {
        useUiTranslation('meta.subtitle', Languages.SPANISH)
      }
    </p>
    <p>
      useUiTranslation('FOOFOO', 'en') == {
        useUiTranslation('FOOFOO', Languages.ENGLISH)
      }
    </p>

    <h2>ShortLinks</h2>
    <p>
      we resolve calls to ${Astro.site}/link/[slug] to the links in the content
    </p>
    <p>Without node running, astro will use meta-redirects.</p>
    <p>
      For now we can only use the raw links... later we want to reference the
      content independent of the language.
    </p>
    This works for external resources in the content-collection `links`...
    <ul>
      <li>
        <Link href={`${Astro.site}link/hfk`} /> or
        <ExternalShortLink
          identifier="saxhfk_hardship"
          lang={DEFAULT_LANG}
        />
        <ExternalShortLink
          identifier="saxhfk_hardship"
          lang={Languages.ENGLISH}
        />
      </li>
      <li>
        <Link href={`${Astro.site}link/asyldt`} /> or <ExternalShortLink
          identifier="asylnet_interview"
          lang="de"
        />
      </li>
      <li>
        <Link href={`${Astro.site}link/asyleng`} /> or <ExternalShortLink
          identifier="asylnet_interview"
          lang={Languages.ENGLISH}
        />
      </li>
      <li>
        <Link href={`${Astro.site}link/fooo`} />
      </li>
    </ul>
    <p>... but also for the flyers and kits</p>
    <ul>
      <li>
        <Link href={`${Astro.site}link/flyer-de-detention`} />
      </li>
      <li>
        <Link href={`${Astro.site}link/flyer-en-detention`} />
      </li>
      <li>
        <Link href={`${Astro.site}link/kit-de-affected`} />
      </li>
      <li>
        <Link href={`${Astro.site}link/kit-ar-affected`} />
      </li>
    </ul>

    <h2>Printing</h2>

    We can print the flyers and kit automatically from the same data we use to
    generate the pages. You can preview the output by visiting
    <ul>
      <li>
        <Link href={`${Astro.site}internal-print/flyer-de-detention`} />
      </li>
      <li>
        <Link href={`${Astro.site}internal-print/flyer-en-detention`} />
      </li>
      <li>
        <Link href={`${Astro.site}internal-print/flyer-ar-detention`} />
      </li>
    </ul>
    and see the result:
    <ul>
      <li>
        <Link href={`${Astro.site}print/flyer-de-detention.pdf`} />
      </li>
      <li>
        <Link href={`${Astro.site}print/flyer-en-detention.pdf`} />
      </li>
    </ul>

    On the page hit [CTRL + P] so preview the print dialog of your browser....
    beware that we apply some more magic to this.

    <h1 class="">heading 1</h1>
    <h2 class="themed">heading 2</h2>
    <h3 class="themed">heading 3</h3>
    <h4 class="themed">heading 4</h4>
    <h5 class="themed">heading 5</h5>
    <h6 class="themed">heading 6</h6>
    <p>random text</p>
  </OverviewLayout>
</html>
