---
import type { CollectionEntry } from 'astro:content';
import type { StandaloneCollections } from '../util/get-static-paths';

import CardLink from '../design/CardLink.astro';
import ContentMeta from './ContentMeta.astro';
import CopyButton from '../design/CopyButton.astro';
import MarkdownEntry from '../design/MarkdownEntry.astro';
import ShareButton from '../design/ShareButton.astro';

import { Languages } from '../util/languages';
import {
  getCanonicalUrlToFlyer,
  getCanonicalUrlToKit,
  getCanonicalUrlToPage,
} from '../util/get-canonical-url';

interface Props<T extends StandaloneCollections> {
  collection: T;
  entry: CollectionEntry<T>;
}

const { entry, collection } = Astro.props;

// TODO: this might be depending on collection

const printUrl = `${Astro.site}print/${collection.slice(0, -1)}-${entry.data.lang}-${entry.data.identifier}.pdf`;

const getCanonicalUrlFn =
  collection === 'flyers'
    ? getCanonicalUrlToFlyer
    : collection === 'kits'
      ? getCanonicalUrlToKit
      : collection === 'pages'
        ? getCanonicalUrlToPage
        : () => `${Astro.site}`;

const canonicalUrl = await getCanonicalUrlFn(
  entry.data.lang,
  entry.data.identifier,
);
---

<style>
  .german-title {
    display: block;
    margin-block-end: calc(-1 * var(--vspace-1) + var(--vspace-3));
  }

  .header-meta {
    display: flex;
    justify-content: flex-start;
    gap: var(--vspace);
    align-items: baseline;
    flex-wrap: wrap;
    margin-block-end: var(--vspace-1);
  }
</style>

<hgroup>
  {
    entry.data.lang !== `${Languages.GERMAN}` && (
      <span class="german-title">{entry.data.germanTitle}</span>
    )
  }
  <h1>{entry.data.title}</h1>
  <ContentMeta entry={entry} />
</hgroup>

<div class="header-meta">
  <ShareButton
    title={entry.data.title}
    url={canonicalUrl}
  />
  <CopyButton>
    <h1>{entry.data.title}</h1>
    <MarkdownEntry rendered={entry.render()} />
  </CopyButton>

  {
    collection != 'pages' && (
      <CardLink
        size="p"
        smaller
        href={printUrl}
      >
        Download als PDF
      </CardLink>
    )
  }
</div>
