---
import type { CollectionEntry } from 'astro:content';
import type { StandaloneCollections } from '../util/get-static-paths';

import Block from './Block.astro';
import CardLink from '../design/CardLink.astro';
import ContentMeta from '../design/ContentMeta.astro';
import CopyButton from '../design/CopyButton.astro';
import ShareButton from '../design/ShareButton.astro';

import { Languages } from '../util/languages';
import { getCanonicalUrlFn } from '../util/get-canonical-url';
import { useUiTranslation } from '../util/use-ui-translation';

interface Props<T extends StandaloneCollections> {
  collection: T;
  entry: CollectionEntry<T>;
  showCopyButton?: boolean;
  showDownloadButton?: boolean;
}

const {
  entry,
  collection,
  showCopyButton = true,
  showDownloadButton = collection !== 'pages',
} = Astro.props;

// TODO: this might be depending on collection

const printUrl = `${Astro.site}print/${collection.slice(0, -1)}-${entry.data.lang}-${entry.data.identifier}.pdf`;

const canonicalUrl = await getCanonicalUrlFn(collection)(
  entry.data.lang,
  entry.data.identifier,
);
---

<style>
  .german-title {
    display: block;
  }

  .header-meta {
    display: flex;
    justify-content: flex-start;
    gap: var(--bbon-size-gap);
    align-items: baseline;
    flex-wrap: wrap;
    margin-block-end: var(--bbon-size-gap);
  }
</style>

<hgroup>
  {
    entry.data.lang !== `${Languages.GERMAN}` && (
      <span class="german-title">{entry.data.germanTitle}</span>
    )
  }
  <h1>{entry.data.title}</h1>
  <ContentMeta entry={entry} />
</hgroup>

<div class="header-meta">
  <ShareButton
    title={entry.data.title}
    url={canonicalUrl}
  />
  {
    showCopyButton && (
      <CopyButton>
        <h1>{entry.data.title}</h1>
        <Block
          identifier={entry.data.identifier}
          collection={collection}
        />
      </CopyButton>
    )
  }
  {
    showDownloadButton && (
      <CardLink
        size="small"
        href={printUrl}
      >
        {useUiTranslation('meta.downloadPdf', entry.data.lang)}
      </CardLink>
    )
  }
</div>
