---
import type { LanguagesValue } from '../util/languages';

import { getStaticPathsForKits } from '../util/get-static-paths';
import { getStaticPathsForFlyers } from '../util/get-static-paths';
import {
  getCanonicalUrlForPath,
  getCanonicalUrlToFlyer,
  getCanonicalUrlToKit,
  getCanonicalUrlToPage,
} from '../util/get-canonical-url';
import { useUiTranslation } from '../util/use-ui-translation';

import AnimatedCloseButton from '../design/AnimatedCloseButton.astro';
import Link from '../design/Link.astro';
import Logo from '../design/Logo.astro';

interface Props {
  lang: LanguagesValue;
}

const { lang = Astro.locals.lang } = Astro.props;

const allFlyers = await getStaticPathsForFlyers();
const allKits = await getStaticPathsForKits();
const homeUrl = getCanonicalUrlForPath(lang, '');
---

<style>
  header {
    background: var(--bbon-color-secondary);
    color: var(--bbon-color-surface);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: var(--bbon-size-p);

    /* FIXME: extract shadow */
    box-shadow:
      0 8px 0 0 var(--bbon-color-secondary-dark),
      var(--bbon-size-border) 0 var(--bbon-size-p)
        var(--bbon-size-shadow-spread) rgb(0 0 0 / 30%);
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: var(--bbon-color-surface);
    text-decoration: none;
    border-bottom: 0;
  }

  /* main_nav should be a modal fullscreen */
  #main-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bbon-color-surface);
    color: var(--bbon-color-secondary);
    z-index: 100;
    box-sizing: border-box;
    padding: var(--bbon-size-gap);
    overflow: auto;

    --bbon-color-primary: var(--bbon-color-secondary);

    .nav-content {
      display: flex;
      justify-content: center;
    }
  }
</style>
<header>
  <a href={homeUrl}>
    <Logo />
  </a>
  <a
    class="mainline"
    href={homeUrl}
  >
    <!--this could use the text to width like in the pdf-->
    <span class="h2">{useUiTranslation('meta.title', lang)}</span>
  </a>
  <AnimatedCloseButton
    onclick="document.getElementById('main-nav').classList.toggle('hidden');"
  />

  <nav
    id="main-nav"
    class="hidden"
  >
    <div class="nav-content">
      <ul>
        <li>
          <Link
            lang={lang}
            href={homeUrl}
          >
            {useUiTranslation('meta.title', lang)} –
            {useUiTranslation('meta.home', lang)}
          </Link>
        </li>

        {
          allKits
            .filter((kit) => kit.params.lang === lang)
            .map(async (kit) => (
              <li>
                <Link
                  lang={lang}
                  href={
                    (await getCanonicalUrlToKit(
                      lang,
                      kit.props.entry.data.identifier,
                    )) || ''
                  }
                >
                  {kit.props.entry.data.title}
                </Link>
              </li>
            ))
        }

        <li>
          <Link
            lang={lang}
            href={getCanonicalUrlForPath(lang, 'flyer')}
          >
            {useUiTranslation('meta.allFlyers', lang)}
          </Link>

          <ul>
            {
              allFlyers
                .filter((flyer) => flyer.params.lang === lang)
                .map(async (flyer) => (
                  <li>
                    <Link
                      lang={lang}
                      href={
                        (await getCanonicalUrlToFlyer(
                          lang,
                          flyer.props.entry.data.identifier,
                        )) || ''
                      }
                    >
                      {flyer.props.entry.data.title}
                    </Link>
                  </li>
                ))
            }
          </ul>
        </li>
        <li>
          {
            getCanonicalUrlToPage(lang, 'contacts').then((href) => (
              <Link
                lang={lang}
                href={href || ''}
              >
                {useUiTranslation('meta.contacts', lang)}
              </Link>
            ))
          }
        </li>
        <li>
          {
            getCanonicalUrlToPage(lang, 'forms').then((href) => (
              <Link
                lang={lang}
                href={href || ''}
              >
                {useUiTranslation('meta.forms', lang)}
              </Link>
            ))
          }
        </li>
        <li>
          {
            getCanonicalUrlToPage(lang, 'publicity').then((href) => (
              <Link
                lang={lang}
                href={href || ''}
              >
                {useUiTranslation('meta.publicity', lang)}
              </Link>
            ))
          }
        </li>
        <li>
          {
            getCanonicalUrlToPage(lang, 'professionals').then((href) => (
              <Link
                lang={lang}
                href={href || ''}
              >
                {useUiTranslation('meta.professionals', lang)}
              </Link>
            ))
          }
        </li>
        <li>
          {
            getCanonicalUrlToPage(lang, 'imprint').then((href) => (
              <Link
                lang={lang}
                href={href || ''}
              >
                {useUiTranslation('meta.imprint', lang)}
              </Link>
            ))
          }
        </li>
      </ul>
    </div>
  </nav>
</header>
