---
import { getCollection } from 'astro:content';

const allPages = await getCollection('pages');
const allFlyers = await getCollection('flyers');
import AnimatedCloseButton from '../design/AnimatedCloseButton.astro';
import Logo from '../design/Logo.astro';
import Link from '../design/Link.astro';
import { getCanonicalUrlToFlyer } from '../util/get-canonical-url-to-flyer';
---

<style>
  header {
    background: var(--color-secondary-2);
    color: var(--color-surface-1);
    display: flex;
    gap: 1em;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1.5rem;
    box-shadow:
      0 8px 0 0 var(--color-secondary-1),
      2px 0 14px 10px rgb(0 0 0 / 30%);
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: var(--color-surface-0);
    text-decoration: none;
    border-bottom: 0;
  }

  /* main_nav should be a modal fullscreen */
  #main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-surface-0);
    color: var(--color-secondary);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
    padding: 4rem;
  }

  #main-nav a,
  #main-nav a:hover,
  #main-nav a:visited,
  #main-nav a:active {
    color: var(--color-secondary);
    text-decoration: none;
    border-bottom: 0;
  }

  a h1,
  a h2 {
    margin: 0;
  }

  @media (width <= 600px) {
    header {
      gap: 0.1em;
    }

    header h1 {
      font-size: 1.4em !important;
    }
  }
</style>
<header>
  <Logo />
  <!-- TODO: Put language sensitive link here -->
  <a href={`${Astro.site}`}>
    <h1 class="h3">Bring Back Our Neighbours</h1>
  </a>
  <AnimatedCloseButton
    onclick="document.getElementById('main-nav').classList.toggle('hidden');"
  />

  <nav
    id="main-nav"
    class="hidden"
  >
    <h2>Pages</h2>
    <ul class="semantic-list">
      <li><a href={`${Astro.site}/showcase`}>SHOWCASE</a></li>
      {
        allPages.map((page) => (
          <li>
            {page.data.lang}:
            <a
              href={`${Astro.site}${page.data.lang}/page/${page.data.identifier}/${page.data.seo}`}
              hreflang={page.data.lang}
            >
              {page.data.title}
            </a>
          </li>
        ))
      }
    </ul>
    <section>
      <h2>Flyers</h2>
      <ul class="semantic-list">
        {
          allFlyers.map(async (flyer) => (
            <li>
              {flyer.data.lang}:
              <Link
                lang={flyer.data.lang}
                href={
                  (await getCanonicalUrlToFlyer(
                    flyer.data.lang,
                    flyer.data.identifier,
                  )) ?? ''
                }
              >
                {flyer.data.title}
              </Link>
            </li>
          ))
        }
      </ul>
    </section>
  </nav>
</header>
