---
import { getStaticPathsForKits } from '../util/get-static-paths';
import { getStaticPathsForFlyers } from '../util/get-static-paths';
import AnimatedCloseButton from '../design/AnimatedCloseButton.astro';
import Link from '../design/Link.astro';
import Logo from '../design/Logo.astro';
import type { LanguagesValue } from '../util/languages';
import {
  getCanonicalUrlToFlyer,
  getCanonicalUrlToKit,
  getCanonicalUrlToPage,
} from '../util/get-canonical-url';
import { useUiTranslation } from '../util/use-ui-translation';

interface Props {
  lang: LanguagesValue;
}

const { lang = Astro.locals.lang } = Astro.props;

const allFlyers = await getStaticPathsForFlyers();
const allKits = await getStaticPathsForKits();
---

<style>
  header {
    background: var(--color-secondary);
    color: var(--color-surface);
    display: flex;
    gap: 1em;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1.5rem;
    box-shadow:
      0 8px 0 0 var(--color-secondary-dark),
      2px 0 14px 10px rgb(0 0 0 / 30%);
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: var(--color-surface);
    text-decoration: none;
    border-bottom: 0;
  }

  /* main_nav should be a modal fullscreen */
  #main-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-surface);
    color: var(--color-secondary);
    z-index: 100;
    box-sizing: border-box;
    padding: 4rem;
    overflow: auto;
  }

  .nav-content {
    /*
    padding g so the language switcher has enough room
     */
    padding-block-end: calc(var(--vspace) + 2 * var(--vspace-3) + 1.5em);
  }

  #main-nav a,
  #main-nav a:hover,
  #main-nav a:visited,
  #main-nav a:active {
    color: var(--color-secondary);
    text-decoration: none;
    border-bottom: 0;
  }

  a h1,
  a h2 {
    margin: 0;
  }

  @media (width <= 600px) {
    header {
      gap: 0.1em;
    }

    header h1 {
      font-size: 1.4em !important;
    }
  }
</style>
<header>
  <Logo />
  <a href={`${Astro.site}`}>
    <!--this could use the text to with like in the pdf-->
    <h1 class="h3">Bring Back Our Neighbours</h1>
  </a>
  <AnimatedCloseButton
    onclick="document.getElementById('main-nav').classList.toggle('hidden');"
  />

  <nav
    id="main-nav"
    class="hidden"
  >
    <div class="nav-content">
      <ul>
        <li>
          <Link
            lang={lang}
            href={`${Astro.site}${lang}/flyer`}
          >
            {useUiTranslation('meta.allFlyers', lang)}
          </Link>

          <ul>
            {
              allFlyers
                .filter((flyer) => flyer.params.lang === lang)
                .map(async (flyer) => (
                  <li>
                    <Link
                      lang={lang}
                      href={
                        (await getCanonicalUrlToFlyer(
                          lang,
                          flyer.props.entry.data.identifier,
                        )) || ''
                      }
                    >
                      {flyer.props.entry.data.title}
                    </Link>
                  </li>
                ))
            }
          </ul>
        </li>
        <li>
          <Link
            lang={lang}
            href={`${Astro.site}${lang}/kit`}
          >
            {useUiTranslation('meta.allKits', lang)}
          </Link>

          <ul>
            {
              allKits
                .filter((kit) => kit.params.lang === lang)
                .map(async (kit) => (
                  <li>
                    <Link
                      lang={lang}
                      href={
                        (await getCanonicalUrlToKit(
                          lang,
                          kit.props.entry.data.identifier,
                        )) || ''
                      }
                    >
                      {kit.props.entry.data.title}
                    </Link>
                  </li>
                ))
            }
          </ul>
        </li>

        <li>
          {
            getCanonicalUrlToPage(lang, 'contacts').then((href) => (
              <Link
                lang={lang}
                href={href || ''}
              >
                {useUiTranslation('meta.contacts', lang)}
              </Link>
            ))
          }
        </li>
        <li>
          {
            getCanonicalUrlToPage(lang, 'forms').then((href) => (
              <Link
                lang={lang}
                href={href || ''}
              >
                {useUiTranslation('meta.forms', lang)}
              </Link>
            ))
          }
        </li>
        <li>
          {
            getCanonicalUrlToPage(lang, 'publicity').then((href) => (
              <Link
                lang={lang}
                href={href || ''}
              >
                {useUiTranslation('meta.publicity', lang)}
              </Link>
            ))
          }
        </li>
        <li>
          {
            getCanonicalUrlToPage(lang, 'imprint').then((href) => (
              <Link
                lang={lang}
                href={href || ''}
              >
                {useUiTranslation('meta.imprint', lang)}
              </Link>
            ))
          }
        </li>
      </ul>
    </div>
  </nav>
</header>
