---
import { getCollection } from 'astro:content';

const allPages = await getCollection('pages');
const allFlyers = await getCollection('flyers');
import logo from '/public/icons/logo.svg?raw';
import menu_icon from '/public/icons/ion--menu.svg?raw';
import close_icon from '/public/icons/ion--close.svg?raw';
---

<style>
  header {
    background: linear-gradient(
      1deg,
      var(--color-secondary-2),
      var(--color-secondary-3),
      var(--color-secondary-2)
    );
    color: var(--color-surface-1);
    display: flex;
    gap: 1em;
    /* background: linear-gradient(135deg, #e93b1d 0%, var(--color-secondary) 50%, #e93b1d 100%); */
    box-shadow: 16px 19px 40px -31px rgba(0, 0, 0, 0.4);
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1.5rem;
    box-shadow:
      0px 8px 0px 0px var(--color-secondary-1),
      inset 1px 0px 9px rgba(0, 0, 0, 0.3),
      2px 0px 14px 10px rgba(0, 0, 0, 0.3);
  }
  a,
  a:hover,
  a:visited,
  a:active {
    color: var(--color-surface-0);
    text-decoration: none;
    border-bottom: 0;
  }
  .logo,
  .menuIcon {
    width: 2em;
    height: 2em;
    color: var(--color-surface-0);
  }

  .logo svg,
  .menuIcon svg {
    width: 100%;
    height: 100%;
  }

  /* main_nav should be a modal fullscreen */
  #mainNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-surface-0);
    color: var(--color-secondary);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #mainNav a,
  #mainNav a:hover,
  #mainNav a:visited,
  #mainNav a:active {
    color: var(--color-secondary);
    text-decoration: none;
    border-bottom: 0;
  }

  h1,
  h2 {
    margin: 0;
  }

  @media (max-width: 600px) {
    header {
      gap: 0.1em;
    }
    header h1 {
      font-size: 1.5em !important;
    }
  }
</style>
<header>
  <div class="logo">
    <Fragment set:html={logo} />
  </div>
  <!-- TODO: Put language sentive link here -->
  <a href={`${Astro.site}`}>
    <h1 class="h3">Bring Back Our Neighbours</h1>
  </a>
  <div
    class="menuIcon"
    onclick="document.getElementById('mainNav').classList.toggle('hidden');"
  >
    <Fragment set:html={menu_icon} />
  </div>

  <nav
    id="mainNav"
    class="hidden"
  >
    <div
      class="closeIcon"
      onclick="document.getElementById('mainNav').classList.toggle('hidden');"
    >
      <Fragment set:html={close_icon} />
    </div>
    <h2>Pages</h2>
    <ul>
      {
        allPages.map((page) => (
          <li>
            {page.data.lang}:
            <a
              href={`${Astro.site}${page.data.lang}/page/${page.data.identifier}/${page.data.seo}`}
              hreflang={page.data.lang}
            >
              {page.data.title}
            </a>
            or
            <a
              href={`${Astro.site}${page.data.lang}/page/${page.data.identifier}`}
              hreflang={page.data.lang}
            >
              {page.data.identifier}
            </a>
          </li>
        ))
      }
    </ul>
    <section>
      <h2>Flyers</h2>
      <ul>
        {
          allFlyers.map((flyer) => (
            <li>
              {flyer.data.lang}:
              <a
                href={`${Astro.site}${flyer.data.lang}/flyer/${flyer.data.identifier}/${flyer.data.seo}`}
                hreflang={flyer.data.lang}
              >
                {flyer.data.title}
              </a>
              or
              <a
                href={`${Astro.site}${flyer.data.lang}/flyer/${flyer.data.identifier}`}
                hreflang={flyer.data.lang}
              >
                {flyer.data.identifier}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </nav>
</header>
