---
import { type LanguagesValue } from '../util/languages';

import Link from '../design/Link.astro';

import { getFlatLinksEntries } from '../util/get-flat-links-entries';
import { linkUrl } from '../../astro.config.mjs';

interface Props {
  identifier: string;
  lang?: LanguagesValue;
}

const { identifier, lang = Astro.locals.lang } = Astro.props;

const link = (await getFlatLinksEntries()).find((entry) => {
  return entry?.identifier === identifier && entry?.lang === lang;
});
---

{
  link?.url ? (
    <Link
      href={link.url}
      lang={lang}
    >
      <slot />
      {Astro.locals.isPrint &&
        (Astro.slots.has('default') ? (
          <>{` ${linkUrl}/${link.slug} `}</>
        ) : (
          <>{`${linkUrl}/${link.slug}`}</>
        ))}

      {!Astro.locals.isPrint && !Astro.slots.has('default') && (
        <>{`${link.type}: ${link.title}`}</>
      )}
    </Link>
  ) : (
    <p>
      <em>LINK NOT FOUND.</em>
    </p>
  )
}
