---
import { type LanguagesValue } from '../model/languages';
import { getEntry } from 'astro:content';
import { useContentData } from '../content/use-content-data';
import { useUiTranslation } from '../content/use-ui-translation';
import {
  getCanonicalUrlForPath,
  getCanonicalUrlToKit,
  getCanonicalUrlToPage,
} from '../util/get-canonical-url';

import Block from './markdown/Block.astro';
import Stack from './design/Stack.astro';
import MenuLink from './design/MenuLink.astro';

interface Props {
  lang: LanguagesValue;
  showFlyers?: boolean;
  showKits?: boolean;
  showKit?: boolean;
}

const { lang, showFlyers, showKits, showKit } = Astro.props;

const kitAffectedCanonicalUrl = await getCanonicalUrlToKit(
  await getEntry('kits', `affected/${lang}`)!,
  lang,
);
const contactsCanonicalUrl = await getCanonicalUrlToPage(
  await getEntry('pages', `contacts/${lang}`)!,
  lang,
);
const formsCanonicalUrl = await getCanonicalUrlToPage(
  await getEntry('pages', `forms/${lang}`)!,
  lang,
);
const publicityCanonicalUrl = await getCanonicalUrlToPage(
  await getEntry('pages', `publicity/${lang}`)!,
  lang,
);
const professionalsCanonicalUrl = await getCanonicalUrlToPage(
  await getEntry('pages', `professionals/${lang}`)!,
  lang,
);
const materialCanonicalUrl = await getCanonicalUrlToPage(
  await getEntry('pages', `material/${lang}`)!,
  lang,
);

const countriesCanonicalUrl = await getCanonicalUrlToPage(
  await getEntry('pages', `countries/${lang}`)!,
  lang,
);

const kitAffectedLabel = await useUiTranslation('meta.emergencyKit', lang);
const allFlyersLabel = await useUiTranslation('meta.allFlyers', lang);
const allKitsLabel = await useUiTranslation('meta.allKits', lang);
---

<Stack>
  <div
    style="padding-block-start: var(--bbon-size-gap); display: flex; justify-content: center;"
  >
    <MenuLink
      lang={lang}
      canonicalUrl={countriesCanonicalUrl ?? ''}
      label={(await useContentData('pages', 'countries', lang))?.title}
    />
  </div>
</Stack>

<Stack>
  {
    showKit && (
      <MenuLink
        lang={lang}
        canonicalUrl={kitAffectedCanonicalUrl ?? ''}
        label={kitAffectedLabel}
      />
    )
  }
  {
    showFlyers && (
      <MenuLink
        lang={lang}
        canonicalUrl={getCanonicalUrlForPath(lang, 'flyer')}
        label={allFlyersLabel}
      />
    )
  }
  {
    showKits && (
      <MenuLink
        lang={lang}
        canonicalUrl={getCanonicalUrlForPath(lang, 'kit')}
        label={allKitsLabel}
      />
    )
  }

  <MenuLink
    lang={lang}
    canonicalUrl={contactsCanonicalUrl ?? ''}
    label={(await useContentData('pages', 'contacts', lang))?.title}
  />
  <MenuLink
    lang={lang}
    canonicalUrl={publicityCanonicalUrl ?? ''}
    label={(await useContentData('pages', 'publicity', lang))?.title}
  />
  <MenuLink
    lang={lang}
    canonicalUrl={professionalsCanonicalUrl ?? ''}
    label={(await useContentData('pages', 'professionals', lang))?.title}
  />
  <MenuLink
    lang={lang}
    canonicalUrl={formsCanonicalUrl ?? ''}
    label={(await useContentData('pages', 'forms', lang))?.title}
  />
  <MenuLink
    lang={lang}
    canonicalUrl={materialCanonicalUrl ?? ''}
    label={(await useContentData('pages', 'material', lang))?.title}
  />
</Stack>

<Stack>
  <Block identifier="feedback" />
</Stack>
