---
import { type LanguagesValue } from '../util/languages.enum';
import { useUiTranslation } from '../util/use-ui-translation';
import {
  getCanonicalUrlToKit,
  getCanonicalUrlToPage,
} from '../util/get-canonical-url';
import Stack from '../design/Stack.astro';
import CardLink from '../design/CardLink.astro';
interface Props {
  lang: LanguagesValue;
  showFlyers?: boolean;
  showKits?: boolean;
}

const { lang, showFlyers, showKits } = Astro.props;
---

<h2>{useUiTranslation('meta.moreInfo', lang)}:</h2>

<Stack>
  {
    showFlyers && (
      <CardLink
        lang={lang}
        href={`${Astro.site}${lang}/flyer`}
      >
        {useUiTranslation('meta.allFlyers', lang)}
      </CardLink>
    )
  }
  {
    showKits && (
      <CardLink
        lang={lang}
        href={`${Astro.site}${lang}/kit`}
      >
        {useUiTranslation('meta.allKits', lang)}
      </CardLink>
    )
  }
  {
    getCanonicalUrlToPage(lang, 'contacts').then((href) => (
      <CardLink
        lang={lang}
        href={href}
      >
        {useUiTranslation('meta.contacts', lang)}
      </CardLink>
    ))
  }
  {
    getCanonicalUrlToKit(lang, 'professional').then((href) => (
      <CardLink
        lang={lang}
        href={href}
      >
        {useUiTranslation('meta.kitProfessionals', lang)}
      </CardLink>
    ))
  }
  {
    getCanonicalUrlToPage(lang, 'forms').then((href) => (
      <CardLink
        lang={lang}
        href={href}
      >
        {useUiTranslation('meta.forms', lang)}
      </CardLink>
    ))
  }

  {
    getCanonicalUrlToPage(lang, 'publicity').then((href) => (
      <CardLink
        lang={lang}
        href={href}
      >
        {useUiTranslation('meta.publicity', lang)}
      </CardLink>
    ))
  }
</Stack>
