---
import { type LanguagesValue } from '../model/languages';
import { getEntry } from 'astro:content';
import { useUiTranslation } from '../content/use-ui-translation.ts';
import {
  getCanonicalUrlForPath,
  getCanonicalUrlToKit,
  getCanonicalUrlToPage,
} from '../util/get-canonical-url';

import Stack from './design/Stack.astro';
import MenuLink from './design/MenuLink.astro';

interface Props {
  lang: LanguagesValue;
  showFlyers?: boolean;
  showKits?: boolean;
  showKit?: boolean;
}

const { lang, showFlyers, showKits, showKit } = Astro.props;

const kitAffectedCanonicalUrl = await getCanonicalUrlToKit(
  await getEntry('kits', `affected/${lang}`)!,
  lang,
);
const contactsCanonicalUrl = await getCanonicalUrlToPage(
  await getEntry('pages', `contacts/${lang}`)!,
  lang,
);
const formsCanonicalUrl = await getCanonicalUrlToPage(
  await getEntry('pages', `forms/${lang}`)!,
  lang,
);
const publicityCanonicalUrl = await getCanonicalUrlToPage(
  await getEntry('pages', `publicity/${lang}`)!,
  lang,
);
const professionalsCanonicalUrl = await getCanonicalUrlToPage(
  await getEntry('pages', `professionals/${lang}`)!,
  lang,
);
const materialCanonicalUrl = await getCanonicalUrlToPage(
  await getEntry('pages', `material/${lang}`)!,
  lang,
);

const kitAffectedLabel = await useUiTranslation('meta.emergencyKit', lang);
const allFlyersLabel = await useUiTranslation('meta.allFlyers', lang);
const allKitsLabel = await useUiTranslation('meta.allKits', lang);
const contactsLabel = await useUiTranslation('meta.contacts', lang);
const formsLabel = await useUiTranslation('meta.forms', lang);
const publicityLabel = await useUiTranslation('meta.publicity', lang);
const professionalsLabel = await useUiTranslation('meta.professionals', lang);
const materialLabel = await useUiTranslation('meta.material', lang);
---

<style>
  h2 {
    text-align: center;
  }
</style>

<h2>{useUiTranslation('meta.moreInfo', lang)}:</h2>

<Stack>
  {
    showKit && (
      <MenuLink
        lang={lang}
        canonicalUrl={kitAffectedCanonicalUrl ?? ''}
        label={kitAffectedLabel}
      />
    )
  }
  {
    showFlyers && (
      <MenuLink
        lang={lang}
        canonicalUrl={getCanonicalUrlForPath(lang, 'flyer')}
        label={allFlyersLabel}
      />
    )
  }
  {
    showKits && (
      <MenuLink
        lang={lang}
        canonicalUrl={getCanonicalUrlForPath(lang, 'kit')}
        label={allKitsLabel}
      />
    )
  }

  <MenuLink
    lang={lang}
    canonicalUrl={contactsCanonicalUrl ?? ''}
    label={contactsLabel}
  />
  <MenuLink
    lang={lang}
    canonicalUrl={publicityCanonicalUrl ?? ''}
    label={publicityLabel}
  />
  <MenuLink
    lang={lang}
    canonicalUrl={professionalsCanonicalUrl ?? ''}
    label={professionalsLabel}
  />
  <MenuLink
    lang={lang}
    canonicalUrl={formsCanonicalUrl ?? ''}
    label={formsLabel}
  />
  <MenuLink
    lang={lang}
    canonicalUrl={materialCanonicalUrl ?? ''}
    label={materialLabel}
  />
</Stack>
