---
import { type LanguagesValue } from '../util/languages';
import { useUiTranslation } from '../util/use-ui-translation';
import {
  getCanonicalUrlForPath,
  getCanonicalUrlToKit,
  getCanonicalUrlToPage,
} from '../util/get-canonical-url';

import Stack from './design/Stack.astro';
import MenuLink from './design/MenuLink.astro';

interface Props {
  lang: LanguagesValue;
  showFlyers?: boolean;
  showKits?: boolean;
  showKit?: boolean;
}

const { lang, showFlyers, showKits, showKit } = Astro.props;

const kitAffectedCanonicalUrl = await getCanonicalUrlToKit(lang, 'affected');
const contactsCanonicalUrl = await getCanonicalUrlToPage(lang, 'contacts');
const formsCanonicalUrl = await getCanonicalUrlToPage(lang, 'forms');
const publicityCanonicalUrl = await getCanonicalUrlToPage(lang, 'publicity');
const professionalsCanonicalUrl = await getCanonicalUrlToPage(
  lang,
  'professionals',
);
const materialCanonicalUrl = await getCanonicalUrlToPage(lang, 'material');

const kitAffectedLabel = await useUiTranslation('meta.emergencyKit', lang);
const allFlyersLabel = await useUiTranslation('meta.allFlyers', lang);
const allKitsLabel = await useUiTranslation('meta.allKits', lang);
const contactsLabel = await useUiTranslation('meta.contacts', lang);
const formsLabel = await useUiTranslation('meta.forms', lang);
const publicityLabel = await useUiTranslation('meta.publicity', lang);
const professionalsLabel = await useUiTranslation('meta.professionals', lang);
const materialLabel = await useUiTranslation('meta.material', lang);
---

<style>
  h2 {
    text-align: center;
  }
</style>

<h2>{useUiTranslation('meta.moreInfo', lang)}:</h2>

<Stack>
  {
    showKit && (
      <MenuLink
        lang={lang}
        canonicalUrl={kitAffectedCanonicalUrl ?? ''}
        label={kitAffectedLabel}
      />
    )
  }
  {
    showFlyers && (
      <MenuLink
        lang={lang}
        canonicalUrl={getCanonicalUrlForPath(lang, 'flyer')}
        label={allFlyersLabel}
      />
    )
  }
  {
    showKits && (
      <MenuLink
        lang={lang}
        canonicalUrl={getCanonicalUrlForPath(lang, 'kit')}
        label={allKitsLabel}
      />
    )
  }

  <MenuLink
    lang={lang}
    canonicalUrl={contactsCanonicalUrl ?? ''}
    label={contactsLabel}
  />
  <MenuLink
    lang={lang}
    canonicalUrl={publicityCanonicalUrl ?? ''}
    label={publicityLabel}
  />
  <MenuLink
    lang={lang}
    canonicalUrl={professionalsCanonicalUrl ?? ''}
    label={professionalsLabel}
  />
  <MenuLink
    lang={lang}
    canonicalUrl={formsCanonicalUrl ?? ''}
    label={formsLabel}
  />
  <MenuLink
    lang={lang}
    canonicalUrl={materialCanonicalUrl ?? ''}
    label={materialLabel}
  />
</Stack>
