---
import { type LanguagesValue } from '../util/languages';
import { useUiTranslation } from '../util/use-ui-translation';
import {
  getCanonicalUrlToKit,
  getCanonicalUrlToPage,
} from '../util/get-canonical-url';
import Stack from '../design/Stack.astro';
import Link from '../design/Link.astro';
import { getLanguageDirection } from '../util/get-language-direction';
interface Props {
  lang: LanguagesValue;
  showFlyers?: boolean;
  showKits?: boolean;
}

const { lang, showFlyers, showKits } = Astro.props;
---

<style>
  h2 {
    text-align: center;
  }

  h3 {
    margin: 0;
  }
</style>

<h2>{useUiTranslation('meta.moreInfo', lang)}:</h2>

<Stack>
  {
    showFlyers && (
      <>
        <Link
          lang={lang}
          href={`${Astro.site}${lang}/flyer`}
        >
          <h3>
            {useUiTranslation('meta.allFlyers', lang)}
            {getLanguageDirection(lang) === 'ltr' ? '→' : '←'}
          </h3>
        </Link>
      </>
    )
  }
  {
    showKits && (
      <Link
        lang={lang}
        href={`${Astro.site}${lang}/kit`}
      >
        <h3>
          {useUiTranslation('meta.allKits', lang)}
          {getLanguageDirection(lang) === 'ltr' ? '→' : '←'}
        </h3>
      </Link>
    )
  }
  {
    getCanonicalUrlToPage(lang, 'contacts').then((href) => (
      <Link
        lang={lang}
        href={href}
      >
        <h3>
          {useUiTranslation('meta.contacts', lang)}
          {getLanguageDirection(lang) === 'ltr' ? '→' : '←'}
        </h3>
      </Link>
    ))
  }
  {
    getCanonicalUrlToKit(lang, 'professional').then((href) => (
      <Link
        lang={lang}
        href={href}
      >
        <h3>
          {useUiTranslation('meta.kitProfessionals', lang)}
          {getLanguageDirection(lang) === 'ltr' ? '→' : '←'}
        </h3>
      </Link>
    ))
  }
  {
    getCanonicalUrlToPage(lang, 'forms').then((href) => (
      <Link
        lang={lang}
        href={href}
      >
        <h3>
          {useUiTranslation('meta.forms', lang)}
          {getLanguageDirection(lang) === 'ltr' ? '→' : '←'}
        </h3>
      </Link>
    ))
  }

  {
    getCanonicalUrlToPage(lang, 'publicity').then((href) => (
      <Link
        lang={lang}
        href={href}
      >
        <h3>
          {useUiTranslation('meta.publicity', lang)}
          {getLanguageDirection(lang) === 'ltr' ? '→' : '←'}
        </h3>
      </Link>
    ))
  }
</Stack>
