---
import type { LanguagesValue } from '../../util/languages';

import { useUiTranslation } from '../../util/use-ui-translation';
import { getLanguageDirection } from '../../util/get-language-direction';

interface Props {
  lang: LanguagesValue;
  currentLang?: LanguagesValue;
}

const { lang, currentLang = Astro.locals.lang } = Astro.props;
---

<span dir={getLanguageDirection(lang)}>
  <span dir={getLanguageDirection(lang)}>
    {useUiTranslation(`languages.${lang}`, lang)}
  </span>
  {
    currentLang != lang && (
      <>
        <span> | </span>
        <span dir={getLanguageDirection(currentLang)}>
          {useUiTranslation(`languages.${lang}`, currentLang)}
        </span>
      </>
    )
  }
</span>
