---
import type { CollectionEntry } from 'astro:content';

import { useUiTranslation } from '../../content/use-ui-translation.ts';

import LanguageChip from './LanguageChip.astro';
import Logo from './Logo.astro';
import NoteMachineTranslation from './NoteMachineTranslation.astro';
import H1 from './H1.astro';
import H2 from './H2.astro';
import type { StandaloneCollections } from '../../model/standalone-collections.ts';

interface Props {
  germanTitle: string;
  entry: CollectionEntry<StandaloneCollections>;
  pagewidth: string;
  pagemargin: string;
}

const { germanTitle, entry, pagewidth, pagemargin } = Astro.props;
---

<style define:vars={{ pagewidth, pagemargin }}>
  .cover-page {
    aside {
      color: white;
      background: var(--bbon-color-primary);
      position: absolute;
      inset-inline-start: 0;
      inset-block-start: 0;
      display: block;
      font-variant: small-caps;
      padding: 0.5em;
      font-size: 1.2em;
      font-weight: var(--bbon-font-weight-bold, bold);
    }

    hgroup {
      margin-block-start: 20vh;
      font-size: 18px;
    }

    footer {
      position: absolute;
      inset-block-end: 0;
      width: calc(var(--pagewidth) - 2 * var(--pagemargin));

      /* this is for the bbonLogo: it needs to be primary */
      --bbon-color-surface: var(--bbon-color-primary);

      .logo-line {
        display: flex;
        align-items: stretch;
        gap: var(--bbon-size-gap);

        .logo-line-icon {
          margin-block-start: calc(
            var(--bbon-size-gap) - var(--bbon-size-spacing)
          );
        }

        .logo-line-titles {
          flex-grow: 1;

          .title {
            font-variant: small-caps;
            font-size: 16pt; /* with the flex-grow we need to have a good baseline  */
            margin: 0;
          }

          .sub-title {
            margin-block-start: var(--bbon-size-spacing);
            font-size: 2px; /* the text-fit will only make it grow  */
          }
        }
      }
    }
  }
</style>

<div class="cover-page">
  <aside>
    <LanguageChip
      lang={entry.data.lang}
      currentLang="de"
    />
  </aside>
  <hgroup>
    {entry.data.lang != 'de' && <h6 class="ltr">{germanTitle}</h6>}
    <H1>{entry.data.title}</H1>
  </hgroup>

  <br />
  <NoteMachineTranslation
    entry={entry}
    isRootLevelContent={true}
    isStrong={false}
  />

  <footer>
    <div class="logo-line">
      <div class="logo-line-icon">
        <Logo size={`calc(${pagewidth} / 10.5)`} />
      </div>

      <div class="logo-line-titles">
        <H2 class="title text-fit ltr">
          <span
            ><span>{useUiTranslation('meta.title', entry.data.lang)}</span
            ></span
          >
          <span aria-hidden="true"
            >{useUiTranslation('meta.title', entry.data.lang)}</span
          >
        </H2>
        <p class="sub-title text-fit">
          <span
            ><span>{useUiTranslation('meta.subtitle', entry.data.lang)}</span
            ></span
          >
          <span aria-hidden="true"
            >{useUiTranslation('meta.subtitle', entry.data.lang)}</span
          >
        </p>
      </div>
    </div>
  </footer>
</div>
