---
import type { CollectionEntry } from 'astro:content';
import type { StandaloneCollections } from '../../util/get-static-paths';
import type { LanguagesValue } from '../../util/languages';

import { useUiTranslation } from '../../util/use-ui-translation';

import QrImage from './QrImage.astro';
import Link from './Link.astro';
import Timestamp from './Timestamp.astro';
import Imprint from './Imprint.astro';

interface Props {
  entry: CollectionEntry<StandaloneCollections>;
  translationSlugs: {
    lang: LanguagesValue;
    url: string;
  }[];
  canonicalUrl: string;
  qrSize?: number;
}

const { entry, translationSlugs, canonicalUrl, qrSize = 60 } = Astro.props;
---

<style>
  .footer {
    font-size: var(--bbon-size-mini);

    --bbon-size-p: var(--bbon-size-mini);

    letter-spacing: -0.01em;

    .home-link {
      text-align: center;
    }

    .links {
      display: flex;
      align-items: center;
      gap: var(--bbon-size-gap);

      .translation-links {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: calc(0.5 * var(--bbon-size-gap));

        --link-font-weight: var(--bbon-font-weight-normal, normal);
      }
    }
  }
</style>
<section class="footer">
  <div class="links">
    <QrImage
      size={qrSize.toFixed()}
      url={canonicalUrl}
    />
    <div class="translation-links">
      {
        translationSlugs.map((translationSlug) => (
          <Link href={translationSlug.url}>
            {useUiTranslation(
              `languages.findTranslation`,
              translationSlug.lang,
            )}
          </Link>
        ))
      }
    </div>
  </div>
  <p class="home-link">
    <strong>
      {useUiTranslation(`meta.infosAgainstDeportation`, entry.data.lang)}
    </strong>
    <span class="ltr">
      <Link href={`${Astro.site}`} />
    </span>
  </p>
  <p>
    <Timestamp
      lang={entry.data.lang}
      lastChecked={entry.data.lastChecked}
    />
  </p>
  <p>
    <Imprint lang={entry.data.lang} />
  </p>
</section>
