---
import type { LanguagesValue } from '../../util/languages';

import CardButton from './CardButton.astro';

import { useUiTranslation } from '../../util/use-ui-translation';

interface Props {
  lang?: LanguagesValue;
  title?: string;
  text?: string;
  url?: string;
}

const { lang = Astro.locals.lang, url = Astro.site } = Astro.props;

const title = Astro.props.title || (await useUiTranslation('meta.title', lang));
const text =
  Astro.props.text ||
  (await useUiTranslation('meta.infosAgainstDeportation', lang));
---

<style>
  #share-popover {
    border: var(--bbon-size-border) solid var(--bbon-color-secondary);
    border-radius: var(--bbon-size-border);
    padding: var(--bbon-size-spacing);
    background-color: var(--bbon-color-surface-dark);
    color: var(--bbon-color-secondary-dark);
    animation: fadein 0.5s;
    inset-block-start: 80vh;
  }

  @keyframes fadein {
    from {
      inset-block-start: 100vh;
      opacity: 0;
    }

    to {
      inset-block-start: 80vh;
      opacity: 1;
    }
  }
</style>

<template
  open
  id="share-content"
  data-title={title}
  data-text={text}
  data-url={url}
></template>

<CardButton id="share-button">
  {useUiTranslation('meta.share', lang)}
</CardButton>

<div
  popover
  id="share-popover"
>
  <div id="share-popover-content">
    {useUiTranslation('meta.sharedLinkToClipboard', lang)}
  </div>
</div>
<script>
  const shareContent: HTMLTemplateElement =
    document.querySelector('#share-content')!;
  const shareButton: HTMLElement = document.querySelector('#share-button')!;
  const sharePopover: HTMLElement = document.querySelector('#share-popover')!;

  shareButton?.addEventListener('click', async () => {
    if (navigator.share && shareContent?.dataset?.url) {
      navigator
        .share({
          title: shareContent.dataset.title,
          text: shareContent.dataset.text,
          url: shareContent.dataset.url,
        })
        .then(() => {})
        .catch(console.error);
    } else {
      await navigator.clipboard.writeText(
        `${shareContent.dataset.text}:\n ${shareContent.dataset.title} \n ${shareContent.dataset.url} `,
      );
      sharePopover.showPopover();
    }
  });
</script>
