---
import Icon from './Icon.astro';
import chevronDown from '../assets/icons/ion--chevron-down.svg?raw';

import { type ColorVariants, invertColorVariant } from '../util/color-variants';

interface Props {
  title?: string;
  variant?: ColorVariants;
  open?: boolean;
}

const { title, variant = 'primary', open = Astro.locals.isPrint } = Astro.props;
---

<style>
  .-primary {
    --accordion-color: var(--color-primary);
  }

  .-inverted-primary {
    --accordion-background-color: var(--color-primary);
  }

  .-secondary {
    --accordion-color: var(--color-secondary);
  }

  .-inverted-secondary {
    --accordion-background-color: var(--color-secondary);
  }

  .-primary,
  .-secondary {
    --accordion-background-color: var(--color-surface);
    --accordion-padding: var(--vspace);
    --accordion-content-color: var(--accordion-color);
  }

  .-inverted-primary,
  .-inverted-secondary {
    --accordion-color: var(--color-surface-dark);
    --accordion-padding: var(--vspace-3);
    --accordion-max-width: fit-content;
    --accordion-content-color: var(--accordion-background-color);

    @media print {
      --accordion-color: var(--color-surface);
    }
  }

  details {
    border: calc(var(--size-border) * 2) solid var(--accordion-color);
    max-width: var(--accordion-max-width);

    summary {
      padding: var(--accordion-padding);
      list-style: none;
      background-color: var(--accordion-color);
      color: var(--accordion-background-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--vspace);

      h3 {
        margin: 0;
      }

      .icons {
        display: flex;
      }
    }

    /* accordions can be nested... but the styles will cascade */
    /* stylelint-disable no-descending-specificity */
    &[open] {
      summary {
        .icons {
          .chevron-icon {
            transform: rotate(180deg);
          }
        }
      }
    }

    article {
      padding: var(--accordion-padding);
      color: var(--accordion-content-color);

      details {
        .icons {
          .chevron-icon {
            /* accordions can be nested... but the styles will cascade */
            transform: unset !important;
          }
        }

        &[open] {
          .icons {
            .chevron-icon {
              /* accordions can be nested... but the styles will cascade */
              transform: rotate(180deg) !important;
            }
          }
        }
      }
    }
    /* stylelint-enable no-descending-specificity */
  }
</style>

<details
  open={open}
  class={`-${variant}`}
>
  <summary>
    {Astro.slots.has('summary') ? <slot name="summary" /> : <h3>{title}</h3>}
    {
      !Astro.locals.isPrint && (
        <span class="icons">
          {Astro.slots.has('extra-icon') && (
            <span class="extra-icon">
              <slot name="extra-icon" />
            </span>
          )}
          <span class="chevron-icon">
            <Icon
              variant={invertColorVariant(variant)}
              html={chevronDown}
            />
          </span>
        </span>
      )
    }
  </summary>
  <article>
    <slot />
  </article>
</details>
