---
import { type LanguagesValue } from '../util/languages';

import Card from './Card.astro';
interface Props {
  href?: string;
  direction?: 'rtl' | 'ltr';
  lang?: LanguagesValue;
  variant?: 'primary' | 'secondary';
  size?: 'small' | 'medium' | 'big';
}

const {
  href,
  lang = Astro.locals.lang,
  variant = 'primary',
  size,
} = Astro.props;
---

<style>
  a {
    text-decoration: none;
    cursor: pointer;
    color: currentcolor;
  }

  a.invalid {
    /*
    we have not implemented all the links yet, so we want to avoid confusion
    when there is no href we mark this card s invalid
    */
    color: currentcolor;
    cursor: not-allowed;
  }
</style>
<a
  href={href}
  hreflang={lang}
>
  <Card
    variant={variant}
    lang={lang}
    size={size}
    invalid={!href?.length}
  >
    <slot />
  </Card>
</a>
