---
import type { LanguagesValue } from '../util/languages';

import Card from './Card.astro';

interface Props {
  lang?: LanguagesValue;
  size?: 'small' | 'medium' | 'big';
  variant?: 'primary' | 'secondary';
  invalid?: boolean;
  id?: string;
}

const {
  lang = Astro.locals.lang,
  variant = 'primary',
  invalid = false,
  size = 'small',
  id = undefined,
} = Astro.props;
---

<style>
  button {
    all: unset;
    cursor: pointer;
  }
</style>

<button id={id}>
  <Card
    lang={lang}
    variant={variant}
    invalid={invalid}
    size={size}
  >
    <slot />
  </Card>
</button>
