---
import type { CollectionEntry } from 'astro:content';

import type { StandaloneCollections } from '../util/get-static-paths';
import type { LanguagesValue } from '../util/languages';

import InternalShortLink from '../components/markdown/InternalShortLink.astro';
import ContentMeta from './ContentMeta.astro';
import QrImage from './QrImage.astro';

import { getCanonicalUrlFn } from '../util/get-canonical-url';
import { useUiTranslation } from '../util/use-ui-translation';

interface Props {
  entry: CollectionEntry<StandaloneCollections>;
  lang?: LanguagesValue;
  collection?: StandaloneCollections;
}

const { entry, lang = Astro.locals.lang, collection = 'flyers' } = Astro.props;

const isPrint = Astro.locals.isPrint;

const canonicalUrl = await getCanonicalUrlFn(collection)(
  lang,
  entry.data.identifier,
);

const collectionLabel =
  collection === 'flyers'
    ? await useUiTranslation('meta.findAlsoInFlyer', lang)
    : await useUiTranslation('meta.findAlsoAsPage', lang);

const showOnlyLink = !isPrint && collection === 'pages';
---

<style>
  .meta-section {
    border-block-start: var(--bbon-size-border) solid var(--bbon-color-primary);
    margin-inline: calc(-1 * var(--bbon-size-gap));
    margin-block-start: var(--bbon-size-gap);
    padding: var(--bbon-size-gap);
    padding-block-end: 0;

    &.-is-print {
      border: var(--bbon-size-border) solid var(--bbon-color-primary);
      padding: var(--bbon-size-gap);
      margin: 0;
      display: flex;
      align-items: center;
      gap: var(--bbon-size-gap);
    }

    &.-show-only-link {
      border: var(--bbon-size-border) solid var(--bbon-color-primary);
      margin: 0;
    }
  }
</style>

{
  isPrint && (
    <div class={`meta-section ${isPrint ? ' -is-print' : ''}`}>
      <QrImage
        size="100"
        url={canonicalUrl!}
      />
      <div>
        <p>
          {collectionLabel}&nbsp;<strong>{entry.data.title}</strong>
        </p>
        <InternalShortLink identifier={entry.data.identifier} />
        <ContentMeta entry={entry} />
      </div>
    </div>
  )
}

<slot />

{
  !isPrint && (
    <div class={`meta-section ${showOnlyLink ? '-show-only-link' : ''}`}>
      <div>
        {collectionLabel}
        <InternalShortLink identifier={entry.data.identifier} />
        <ContentMeta entry={entry} />
      </div>
    </div>
  )
}
