---
import { getStaticPathsForKits } from '../../../util/get-static-paths';
import {
  SupportedLanguages,
  type LanguagesValue,
} from '../../../model/languages';
import { useUiTranslation } from '../../../util/use-ui-translation';
import OverviewLayout from '../../../layouts/OverviewLayout.astro';
import Stack from '../../../components/design/Stack.astro';
import CardLink from '../../../components/design/CardLink.astro';
import { getCanonicalUrlToKit } from '../../../util/get-canonical-url';
import MoreInfoStack from '../../../components/MoreInfoStack.astro';
import { getTranslationsUrlsForPath } from '../../../util/get-translations-url';
import LanguageSwitcher from '../../../components/design/LanguageSwitcher.astro';

interface Props {
  lang: LanguagesValue;
}

export async function getStaticPaths() {
  return Object.values(SupportedLanguages).map((lang) => {
    return {
      params: { lang },
      props: { lang },
    };
  });
}

const { lang } = Astro.props;

const allKits = await getStaticPathsForKits();

const translationSlugs = await getTranslationsUrlsForPath(lang, 'kit');
---

<OverviewLayout
  lang={lang}
  title=`${await useUiTranslation('meta.title', lang)} | ${await useUiTranslation('meta.subtitle', lang)}`
  translationSlugs={translationSlugs}
>
  <LanguageSwitcher
    lang={lang}
    translationSlugs={translationSlugs}
  />
  <h2>{useUiTranslation('meta.allKits', lang)}:</h2>
  <Stack>
    {
      allKits
        .filter((kit) => kit.params.lang === lang)
        .map(async (kit) => (
          <CardLink
            lang={lang}
            href={await getCanonicalUrlToKit(
              lang,
              kit.props.entry.data.identifier,
            )}
          >
            {kit.props.entry.data.title}
          </CardLink>
        ))
    }
  </Stack>

  <MoreInfoStack
    lang={lang}
    showFlyers={true}
  />
</OverviewLayout>
