---
import { type LanguagesValue } from '../util/languages';

import { useUiTranslation } from '../util/use-ui-translation';

interface Props {
  title: string;
  seo?: string;
  lang: LanguagesValue;
  canonicalSlug?: string;
  translationSlugs?: Array<{
    lang: LanguagesValue;
    url: string;
  }>;
}

const {
  title,
  lang,
  canonicalSlug,
  translationSlugs,
  seo = await useUiTranslation('meta.infosAgainstDeportation', lang),
} = Astro.props;

import './theme-color.css';
import './typography.css';
---

<head>
  <meta charset="utf-8" />
  <link
    rel="icon"
    type="image/svg+xml"
    href="/favicon.svg"
  />
  <link
    rel="sitemap"
    href="/sitemap-index.xml"
  />
  <link
    rel="canonical"
    hreflang={lang}
    href={canonicalSlug}
  />
  {
    translationSlugs?.map((translation) => (
      <link
        rel="alternate"
        hreflang={translation.lang}
        href={translation.url}
      />
    ))
  }
  <meta
    name="viewport"
    content="width=device-width"
  />
  <meta
    name="generator"
    content={Astro.generator}
  />
  <meta
    name="theme-color"
    content="lch(55% 90.4 42deg)"
  />
  <meta
    name="description"
    content={seo}
  />
  <title>{title}</title>
  <slot />
</head>
