---
import Header from '../components/Header.astro';
interface Props {
  title: string;
  lang: string;
  canonicalSlug?: string;
  classes?: string;
  translationSlugs?: Array<{
    lang: string;
    url: string;
  }>;
}

// TODO: Remove unused variants later
import '@fontsource/firago/400.css';
import '@fontsource/firago/500.css';
import '@fontsource/firago/600.css';
import '@fontsource/firago/400-italic.css';
import '@fontsource/firago/500-italic.css';
import '@fontsource/firago/600-italic.css';
import '../base.css';

const { title, lang, canonicalSlug, translationSlugs, classes } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="canonical"
      hreflang={lang}
      href={canonicalSlug}
    />
    {
      translationSlugs?.map((translation) => (
        <link
          rel="alternate"
          hreflang={translation.lang}
          href={translation.url}
        />
      ))
    }
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body class={classes}>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
