---
import { type LanguagesValue } from '../util/languages.enum';

interface Props {
  title: string;
  lang: LanguagesValue;
  canonicalSlug?: string;
  translationSlugs?: Array<{
    lang: LanguagesValue;
    url: string;
  }>;
}

const { title, lang, canonicalSlug, translationSlugs } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link
    rel="icon"
    type="image/svg+xml"
    href="/favicon.svg"
  />
  <link
    rel="canonical"
    hreflang={lang}
    href={canonicalSlug}
  />
  {
    translationSlugs?.map((translation) => (
      <link
        rel="alternate"
        hreflang={translation.lang}
        href={translation.url}
      />
    ))
  }
  <meta
    name="viewport"
    content="width=device-width"
  />
  <meta
    name="generator"
    content={Astro.generator}
  />
  <meta
    name="theme-color"
    content="lch(55% 90.4 42deg)"
  />
  <title>{title}</title>
  <slot />
</head>
