---
import BaseHtml from './BaseHtml.astro';
import BaseHead from './BaseHead.astro';
import Header from '../components/Header.astro';
import BaseBody from './BaseBody.astro';
import { DEFAULT_LANG, type LanguagesValue } from '../util/languages';

interface Props {
  title: string;
  lang: LanguagesValue;
  canonicalSlug?: string;
  translationSlugs?: Array<{
    lang: LanguagesValue;
    url: string;
  }>;
}

const {
  title,
  lang = DEFAULT_LANG,
  canonicalSlug,
  translationSlugs,
} = Astro.props;
---

<style>
  .content-wrapper {
    display: flex;
    justify-content: center;

    main {
      max-width: var(--size-max-text-span);
      background-color: var(--color-surface);
      padding: var(--vspace);
      overflow: auto;
    }
  }
</style>

<BaseHtml lang={lang}>
  <BaseHead
    title={title}
    lang={lang}
    canonicalSlug={canonicalSlug}
    translationSlugs={translationSlugs}
  />
  <BaseBody lang={lang}>
    <Header />
    <div class="content-wrapper">
      <main>
        <slot />
      </main>
    </div>
  </BaseBody>
</BaseHtml>
