---
import BaseHtml from './BaseHtml.astro';
import BaseHead from './BaseHead.astro';
import { getLanguageDirection } from '../util/get-language-direction';
import Header from '../components/Header.astro';
interface Props {
  title: string;
  lang: string;
  canonicalSlug?: string;
  translationSlugs?: Array<{
    lang: string;
    url: string;
  }>;
}

const { title, lang, canonicalSlug, translationSlugs } = Astro.props;
---

<style>
  .content-wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--color-surface-dark);

    main {
      max-width: var(--size-max-text-span);
      background-color: var(--color-surface);
      padding: var(--vspace);
    }
  }
</style>

<BaseHtml lang={lang}>
  <BaseHead
    title={title}
    lang={lang}
    canonicalSlug={canonicalSlug}
    translationSlugs={translationSlugs}
  />
  <body class={`${getLanguageDirection(lang)}`}>
    <Header />
    <div class="content-wrapper">
      <main>
        <slot />
      </main>
    </div>
  </body>
</BaseHtml>
