---
import BaseHtml from './BaseHtml.astro';
import BaseHead from './BaseHead.astro';
import Header from '../components/Header.astro';
import BaseBody from './BaseBody.astro';
import { DEFAULT_LANG, type LanguagesValue } from '../util/languages';

interface Props {
  title: string;
  seo: string;
  lang: LanguagesValue;
  canonicalSlug?: string;
  translationSlugs?: Array<{
    lang: LanguagesValue;
    url: string;
  }>;
}

const {
  title,
  seo,
  lang = DEFAULT_LANG,
  canonicalSlug,
  translationSlugs,
} = Astro.props;

import './theme-color.css';
import './theme-web.css';
---

<style>
  .content-wrapper {
    display: flex;
    justify-content: center;

    main {
      max-width: var(--bbon-size-max-text-span);
      background-color: var(--bbon-color-surface);
      padding: var(--bbon-size-gap);
      overflow: auto;

      /*
      padding g so the language switcher has enough room
       */
      padding-block-end: calc(
        var(--bbon-size-gap) + 2 * var(--bbon-size-spacing) + 3.5em
      );
    }
  }
</style>

<BaseHtml lang={lang}>
  <BaseHead
    title={title}
    lang={lang}
    seo={seo}
    canonicalSlug={canonicalSlug}
    translationSlugs={translationSlugs}
  />
  <BaseBody lang={lang}>
    <Header lang={lang} />
    <div class="content-wrapper">
      <main>
        <slot />
      </main>
    </div>
  </BaseBody>
</BaseHtml>
