---
import BaseHtml from './BaseHtml.astro';
import BaseHead from './BaseHead.astro';
import Header from '../components/Header.astro';
import BaseBody from './BaseBody.astro';

interface Props {
  title: string;
  lang: string;
  canonicalSlug?: string;
  translationSlugs?: Array<{
    lang: string;
    url: string;
  }>;
}

const { title, lang, canonicalSlug, translationSlugs } = Astro.props;
---

<style>
  .content-wrapper {
    display: flex;
    justify-content: center;

    main {
      padding: var(--vspace);
    }
  }
</style>

<BaseHtml lang={lang}>
  <BaseHead
    title={title}
    lang={lang}
    canonicalSlug={canonicalSlug}
    translationSlugs={translationSlugs}
  />
  <BaseBody lang={lang}> 
    <Header />
    <div class="content-wrapper">
      <main>
        <slot />
      </main>
    </div>
  </BaseBody>
</BaseHtml>
