---
import { type CollectionEntry, getCollection } from 'astro:content';
import { linkUrl } from '../../../astro.config.mjs';
import { getAllExternalLinksEntries } from '../../util/get-all-external-links-entries.ts';

import BaseLayout from '../../layouts/BaseLayout.astro';
import Link from '../../components/design/Link.astro';

const now = new Date();

const linkEntries = (
  await getAllExternalLinksEntries(await getCollection('links'))
).filter((link) => now >= (link?.noCheckUntil || now));

const adresses: CollectionEntry<'addresses'>[] = (
  await getCollection('addresses')
).filter((address) => now >= (address?.data?.noCheckUntil || now));
---

<BaseLayout
  title="INTERNAL LINK CHECK"
  seo=""
  lang="de"
  allowIndexing={false}
>
  <h1>BBON Short Links</h1>
  Auf all diese Links verweisen wir mit der Kurz-Url <code>{linkUrl}</code>. Um
  sie alle zu checken kann man das tool <a
    href="https://github.com/JustinBeckwith/linkinator">linkinator</a
  > nutzen:

  <pre>
  ❯ npx linkinator --redirects=error {Astro.site}internal-check-links
  </pre>

  <h2>Externe Links</h2>

  <table>
    <thead>
      <tr>
        <th>slug</th>
        <th>filePath</th>
        <th>url</th>
      </tr>
    </thead>
    <tbody>
      {
        linkEntries.map((entry) => (
          <tr>
            <td>{entry.slug}</td>
            <td>{entry.filePath}</td>
            <td>
              <Link href={entry.url}> {entry.url}</Link>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
  <h2>Address Links</h2>

  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>filePath</th>
        <th>url</th>
      </tr>
    </thead>
    <tbody>
      {
        adresses
          .filter((address) => address.data.url)
          .map((entry) => (
            <tr>
              <td>{entry.id}</td>
              <td>{entry.filePath}</td>
              <td>
                <Link href={entry.data.url}> {entry.data.url}</Link>
              </td>
            </tr>
          ))
      }
    </tbody>
  </table>
</BaseLayout>
